.home{
    border:solid black 0px;
    background-image: url("../../assets/img/home-banner.jpg");
    background-size: 100% 100%;
    height:85vh;
    padding-left:5%; 
    background-repeat: no-repeat;
    position: relative;
    &__text-area{
        width: 50%;
        position: absolute;
        margin-top:10%;
        &__text{
            font-size: 43px;
            color: white;
        }
        &__samll-text{
            font-size: 23px;
            color: #f0efe9;
        }
        &__button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }
        &__button:hover{
            background-color: rgb(143, 240, 146);
        }
            
    }
}