.fundriser{
    display: flex;
    padding: 70px; 
    justify-content: center;
    &__wrap{
        display: flex;
        width: 1000px;
        position: relative;
    }
    &__content{
        width: 65%;
        // height: 300px;
        // border:solid red 1px;
    }
    &__donate{
        width: 35%;
        height: 200px;
        // border:solid red 1px;
        position: fixed;
        margin-left: 650px;
        padding-left: 1rem;
    }
}
