.modal {
    
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
   
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top:100px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 50%;
    &__title{
        color: #00b964; 
        border-bottom:solid #aaaaaa 1px;
        display: flex;
        justify-content: center;
    }
    &__donation{
      padding-left: 10%;
      padding-right: 10%;
      &__buttons{
        display: flex;
        &__view{
            margin-left:0px;
            margin-right:10px;
            display: flex;
            flex: 40%;
            border:solid red 1px;
            border-radius: 4px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border: solid #66d5a2 1px;
            cursor: pointer;
            h3{
                font-size:15px;
                color:#00b964;
            }
        }
        &__view:hover{
            border: solid #00a056 1px;
        }
        &__donate{
            margin-left:10px;
            margin-right: 10px;
            display: flex;
            flex: 40%;
            border:solid red 1px;
            border-radius: 4px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border: solid #66d5a2 1px;
            background-color: #00b964;
            cursor: pointer;
            h3{
                font-size:15px;
                color:white;
            }
        }
        &__donate:hover{
            border: solid rgb(43, 114, 46) 1px;
        }
    }
      &__donate{
        color: #666666;
        font-size: 24px;
      }
      input{
        margin-top: 10px ;
        height: 60px;
        font-size: 18px;
        border: solid 1px #ddd;
        border-radius: 4px;
        padding-left: 12px;
        width: 80%;
      }
      &__input{
        display: flex;
        &__value{
          display: flex;
          align-items: flex-end;
          
          // border: solid red 1px;
          h3{
            color: #00b964;
            font-size: 28px;
            margin-top:43px;
            margin-left:10px;
          }
        }
      }
      &__checkbox{
        display: flex;
        align-items: center;
        &__not_loged_user{
          opacity: 0.5;
        }
        &__value{
          border:solid black 1px;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          cursor: pointer;
          img{
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            margin-top:0px;
            margin-left:0px;
            width: 30px;
            height: 30px;
          }
        }
        &__text{
          margin-left: 10px;;
        }
        margin-top: -20px;
        margin-bottom: 10px;
      }
      &__state{
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
      &__state__success{
       
        color: green;
      }
      &__state__processing{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color: orange;
      }
    }
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }