.featured{
    height: 400px;
    max-width: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5% 10% 0px 10%;
    margin:auto;
    gap: 30px;
    img{
        cursor:pointer;
    }
    
}